.success-message{
   width: 30vw;
   font-size: 1.3vw;
   border: 2px solid rgb(23, 233, 23);
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 3vh;
   color: rgb(10, 214, 10);
}
.error-message{
   width: 30vw;
   font-size: 1.3vw;
   border: 2px solid rgb(233, 23, 23);
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 3vh;
   color: rgb(214, 10, 10);
}